.intro {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
  }

.group {
    margin-top: 10%;
} 

.about-hosts {
    margin-top: 10%;
    margin-bottom: 10%;
}
  

h2 {
    font-family: "vollkorn", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4.5em;
    color: #335772 !important;
  }
  
 a {
    color: #f2f4ea !important;
    text-decoration: none !important;
  }

  .more-info {
    color: #335772 !important;
    text-decoration: underline !important;

  }
