body {
    background-color: #fffff3 !important;
}

/** NAVIGATION **/

.navbar {
    opacity: 1;
    background-color: #f4f2e900; 
    z-index:10;
}

nav ul {
    list-style: none;
    text-align: center;

 }
 
 nav ul li {
    display: inline-block;
 }

 .custom-mr-auto {
    margin-left: auto;
}

.dt-logo {
    text-align: center;
    padding: 0 2em;
  }

.navbar .navbar-brand {
    margin-right: auto;
}

.amenities ul {
    list-style-type: none;
}

.room {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

/** second navication **/

.active {
    background-color: #6e8256 !important;
    padding: .5em 1em !important;
    color: #fffff3 !important;
}
.active:hover {
    background-color: #829c64 !important;
    padding: .5em 1em !important;
}
.non-active{
    background-color: transparent !important;
    padding: .5em 1em !important;
}
.non-active:hover{
    background-color: #829c64 !important;
    padding: .5em 1em !important;
    color: #fffff3 !important;
}


.second-nav li {
    padding: 0 .7em;
}


.second-nav {
    padding: 0 !important;
    margin-top: 3em !important;
}

img {

    object-fit: cover;
    display: grid;
    margin-right: auto;
    margin-left: auto;
}

.text {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7em;
    margin-top: 2em;
}



.btn-custom {
    background-color: #829c64 !important; /* Example button color */
    color: white;
    border: none ;
    padding: 10px 20px;
    border-radius: 0 !important; /* Remove border radius for a sharp edge look */
    border: none !important; /* Remove border */
    margin: 2em 0 6em 0;
  }
  
  .btn-custom:hover {
    background-color: #6e8256 !important; /* Darken button on hover */
  }
      

/** Amenities **/
#accordionPanelsStayOpenExample {
    display: grid;
    margin-right: auto;
    margin-left: auto;
  }
  
  ul {
      list-style-type: none;
  }
  i {
      margin-right: 1em;
  }
  


/** Ownerrez **/
.ownerrez-widget {
    width: 100%; /* Adjust as necessary */
    max-width: 100%; /* Prevent it from growing larger than its container */
}

.col-8 {
    display: flex;
    justify-content: center;
    align-items: center; /* if you also want vertical centering */
}

.col-8, .ownerrez-widget {
    margin: 0;
    padding: 0;
}


.modal-header {
    background-color: #6e8256;
    color: white;
}

.modal-content {
    border-radius: 5px;
}