





.card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;  
}

.card-text {
    text-align: left;
}

h3 {
  font-family: "vollkorn", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  color: #6e8256 !important;
}

a {
  color: #335772 !important;
}

.container > div:nth-child(1) {
  margin: 0 10em;
}



@media (max-width: 767px) { /* Adjust for devices smaller than 768px wide */
  .container > div:nth-child(1) {
    margin: 0!important;
  }
div.col-12:nth-child(2) > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) {
  padding: 0 1em;
}

}
