@font-face {
  font-family: 'Hanken Grotesk';
  src: url('fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf') format('truetype'),
       url('fonts/Hanken_Grotesk/HankenGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabriola', serif;
  src: url('fonts/Gabriola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}





body {
  overflow-x: hidden;
  overflow-y: scroll !important;
    background-color: #f2f4ea !important;
    font-family: 'Hanken Grotesk', sans-serif; /* Use the font-family you defined above */
}

/** NAVIGATION **/


.navbar-brand img{
  width: 4.5em;
}
.navbar {
  background-color: #f2f4ea !important;
  justify-content: center !important;
  display: grid !important;
}

.dt-logo {
  text-align: center;
  padding: 0 2em;
}

.main-nav li {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "vollkorn", serif;
}



.nav-link {
  transition: text-shadow 0.3s ease; /* Smooth transition for a nicer effect */
  color: #40613e !important;
}


.nav-link:hover {
  text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor; /* Mimics bold */
}



  .navbar-brand {
    margin: 0 !important;
    }

    

/* CAROUSEL IMG */
.carousel-item {
  height: calc(100vh - 56px); /* Adjust based on navbar height */
  background-size: cover;
  background-position: center;
}

/* CAROUSEL CAPTION */
.carousel-caption {
  bottom: 20% !important; /* Corrected to a single bottom property */
  right: 15%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.382);
  padding: 20px;
  border-radius: 8px;
}




/* BUTTON STYLES */

.carousel-caption .center-buttons {
  display: flex; /* Added to ensure flexbox is applied */
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
  gap: 10px; /* Space between buttons */
}

.carousel-caption .btn, .carousel a .btn { /* Adjusted selector for consistency */
  min-width: 200px; /* Ensures a minimum width for all buttons */
  background-color: rgba(0, 0, 0, 0.242) !important; 
  border: 1px solid #FFFFFF !important;
  color: white !important; 
  text-transform: uppercase;
  padding: 10px 20px !important;
  font-weight: 600 !important; 
}

.carousel-caption .btn:hover, .carousel a .btn:hover { /* Adjusted selector for consistency */
  background-color: #f2f4ea1f!important; 
  color: white !important; 
}

/* TEXT STYLES */

.carousel-caption h1 {
  font-size: 7em;
  font-family: 'Gabriola', serif ;
  font-weight: 550;
  line-height: 0.7 !important;
}

.carousel-caption h2 {
  font-size: 3em;
  font-family: 'Gabriola', serif;
  color: white !important;
  line-height: 0.7 !important;
  font-weight: 300 !important;
}

.carousel-caption h5 {
  font-size: 1em;
  font-family: 'Hanken Grotesk';
  letter-spacing: 301;
}


/**** HEADINGS ****/

h2 {
  font-family: "vollkorn", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3em;
  color: #335772 ;
}

.bedbreakfast h3 {
  font-family: "vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8em;
  color: #6e8256 !important;
}

.bedbreakfast .eco-pods {
  height: 100vh;
}
/** ECO PODS **/

.line {
    border: 2px solid #355033;
    border-radius: 0;
}

.eco-pods {
    margin-top: 10em !important;
}

.eco-pods-responsive {
  display: flex;
  flex-wrap: wrap;
}

.eco-pods div.col-md-6:nth-child(2) {
    margin-top: 6em;
    }

.eco-pod div.container:nth-child(3) {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.pods-text {
    padding-left: 5em !important;
}
/** ECO PODS BOOK BUTTONS **/

.btn-custom {
    background-color: #829c64 !important; /* Example button color */
    color: white !important;
    border: none !important;
    padding: .5em 3em !important;
    border-radius: 0 !important; /* Remove border radius for a sharp edge look */
  }
  
  .btn-custom:hover {
    background-color: #6e8256 !important; /* Darken button on hover */
  }


  /** LOCATION **/


  .content-area {
    background-color: rgba(64, 92, 113, 0.728); 
    color: white;
    text-align: left;
    padding: 5em !important;
  }

  .content-area h3 {
    font-size: 2em !important;
    color: #f2f4ea !important;
    font-family: "vollkorn", serif;
  }
  
  .location-h2 {
    color: #f2f4ea !important;
    font-size: 4em !important;
  }



  /** REVIEWS **/
  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-color: #405c71;
    color: #f2f4ea !important;
  }
  .reviews h2 {
    font-size: 4em !important;
    font-family: "vollkorn", serif;
  }
  .reviews i {
    color: #cbcdc4 !important;
  }
  #review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .review {
    display: none; /* Hide all reviews initially, show them via JavaScript or another method */
  }
  
  /* Ensure the first review is visible as an example */
  .review:first-of-type {
    display: block;
  }
  .reviews .col-lg-9 {
    /*! display: flex; *//*! margin: auto; */margin-right: auto;
    margin-left: auto;
  }

  .review h2 {
    font-size: 2em !important;
    color: #f2f4ea !important;
    font-family: "vollkorn", serif;
  
  }
  .col-lg-9 > img:nth-child(2) {
    width: 60vw !important;
    margin: .0 0 1em 0;
  }
  




/** B&B **/
.bedbreakfast {
    margin-top: 10em !important; 
    margin-bottom: 10em !important; 
}

.image-caption {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000; /* Adjust color based on your image's needs */
  }

  .image-overlay {
    position: relative;
    text-align: center;
  }

  .image-overlay img {
    display: block;
  }

  .image-overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust the text color as needed */
  }

  /* Optionally ensure the images take up equal height */
  .equal-height-img {
    display: flex;
    flex-wrap: wrap;
  }

  .equal-height-img .col {
    display: flex;
    flex-direction: column;
  }

  .equal-height-img .col img {
    flex-grow: 1;
  }

.text-bb {
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
}

.bb-text {
    padding-right: 2em;
}

.bb-book {
    padding-top: 2em !important;
}

.bed_breakfast {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/** Ammenities  **/

#accordionPanelsStayOpenExample {
  display: grid;
  margin-right: auto;
  margin-left: auto;
}

ul {
    list-style-type: none;
}
i {
    margin-right: 1em;
}

/** Ownerrez **/
.availability {
  margin: 2em 0;
}


.reviews {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


/** FOOTER **/

.footer > div:nth-child(1) > div:nth-child(1) {
  background-color: #829c64 !important;
  }

  .footer  {
    color: #f2f4ea; /* Adjust heading color as needed */
  }
  

  .text-left {
    padding-left: 20%;
    }

  .text-left p {
    padding-top: 2em;
  }

  .footer-map {
    padding: 0;
    }
  
    .footer {
    padding: 0;
    padding: 0 !important;
    }



  .footer-contact h2 {
    color: #f2f4ea !important;  /* Adjust heading color as needed */
    padding-bottom: .5em;
  }

  .footer-contact a {
    color: #f2f4ea !important; /* Adjust link color as needed */
  }

  .footer-contact a:hover {
    font-weight: 700 !important; /* Adjust link hover color as needed */
  }

  .footer-contact p strong {
    font-family: 'volkron';
    font-weight: 700;
  }

  .social-icons {
    font-size: 2em; /* Adjust icon size as needed */  
    padding-top: 1em;
  }

  .social-icons a:hover {
    font-weight: 400  !important; /* Adjust icon hover color as needed */
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.fa-square-facebook {
  color: #1b71b2;
}
.fa-square-instagram {
  color: #aa318d;
}


.footer-map {
  padding: 0 !important;
}




/** MOBILE STYLING **/

/* Hide desktop images on small screens and vice versa */
.d-none {
  display: none;
}

@media (min-width: 576px) { /* Adjust based on Bootstrap's breakpoints if needed */
  .d-lg-none {
      display: none;
  }
  .d-none.d-lg-block {
      display: block;
  }

}



@media (max-width: 768px) {

  img.img-fluid:nth-child(4) {
    padding-top: 1em;
  }
  
  .pods-text {
    padding: 0 .6em !important;
  }
  
  .eco-pods {
    margin-top: 5em !important;
  }
  .bedbreakfast {
    margin-top: 0em !important;
  }
  .pods-text p {
    padding-top: 1em;
  }
  .button {
    margin-top: 1em;
    margin-bottom: 5em;
  }
  a.btn:nth-child(6) {
    margin-bottom: 5em;
  }

  .col-lg-9 > img:nth-child(2) {
    width: 95vw !important;
    margin: .0 0 1em 0;
  }
  
  
}


/* ADJUSTMENTS FOR SMALLER SCREENS */

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 3.7rem !important;
    font-family: "Crimson Text", serif !important;
    font-weight: 600;
    font-style: italic;
    padding-bottom: .1em;
  }

  .carousel-caption h2 {
    font-size: 1.7rem !important;
    font-family: "Crimson Text", serif !important;
    font-weight: 600;
    font-style: italic;
    padding-bottom: .5em;
  }

  .carousel-caption h5 {
    font-size: 0.9rem !important;
    margin-top: 2em;
  }

  .carousel-caption .btn, .carousel a .btn { /* Adjusted selector for consistency */
    min-width: 130px !important; /* Ensures a minimum width for all buttons */
    font-size: .8em;
    margin-top: 0 !important;
    font-weight: 450 !important;
  }
  .carousel-caption {

    width: 90% !important; /* Make the caption background wider */
    padding: 10px 20px !important; /* Adjust padding to make it shorter */
    top: auto !important; /* Reset top position if needed */
    bottom: 30% !important; /* Adjust bottom position to ensure it's not too low */
    left: 50% !important; /* Center horizontally */
    transform: translateX(-50%) !important; /* Ensure centered alignment */
    background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust background opacity as needed */
  }
  .carousel-caption .button {
    margin-bottom: 0em;
  }
  

  }
