@font-face {
  font-family: 'Hanken Grotesk';
  src: url('fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf') format('truetype'),
       url('fonts/Hanken_Grotesk/HankenGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn italic';
  src: url('fonts/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gabriola';
  src: url('fonts/Gabriola.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}







body {
    background-color: #f2f4ea !important;
    font-family: 'Hanken Grotesk', sans-serif; /* Use the font-family you defined above */
}

/** NAVIGATION **/



a.d-none > img:nth-child(1) {
  width: 4.5em;
}
.navbar {
  background-color: #f2f4ea !important;
  justify-content: center !important;
  display: grid !important;
}

.dt-logo {
  text-align: center;
  padding: 0 2em;


}

/**
.dt-logo {
    text-align: center;
    padding: 0 2em;
  }

/**
.nav-logo img {
    text-align: center;
    height: 6em;
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }**/


.main-nav li {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.3em;
    font-weight: 550;
    letter-spacing: 1px;
    font-family: 'Volkron';
}

.main-nav li a {
    color: #355033 !important;
}

.main-nav li a:hover {
    color: #708d52 !important;
    font-weight: 575;
}



  .navbar-brand {
    margin: 0 !important;
    }

/** CAROUSEL IMG **/

.carousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index:5;
    position: top;

}

.carousel, .carousel-item {
  height: 100vh; 
}

.carousel a {
  color: #f2f4ea !important; /* Adjust link color as needed */
}

.bg-img-1 {
    background-image: url(../img/index/index_home.jpg);

}

.bg-img-2 {
    background-image: url(../img/index/front_lp_wideshot.jpg);
}

.bg-img-3 {
    background-image: url(../img/index/pods_context.png);
}

/** CAROUSEL TEXT **/


.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will vertically center the items in the container */
  align-items: center; /* This will horizontally center the items */
  background-color: #000b063e;
  margin-bottom: 20em;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption h1 {
    font-size: 7em;
    font-family: 'Gabriola';

}

.carousel-caption h5 {
    font-size: 1em;
    font-family: 'Hanken Grotesk' !important;
    letter-spacing: 301;
}

.carousel-caption > h1:nth-child(2) {
  margin-bottom: 0;
}



.btn {
    background-color: #f2f4ea2e!important; /* semi-transparent white */
    border: 1px solid #FFFFFF !important; /* solid white border */
    color: #f1efe9 !important; /* black text */
    text-transform: uppercase;
    padding: 10px 20px !important; /* example padding */
    font-weight: bold !important; /* makes the text bold */
}


/* Responsive font sizes for smaller screens */
@media (max-width: 768px) {
  .carousel-caption h1 {
      font-size: 2.5em;
  }

  .carousel-caption h5 {
      font-size: 1em;
  }

  .carousel-caption .btn {
      padding: 5px 10px; /* Smaller padding for smaller screens */
  }
}


/** ECO PODS **/

.line {
    border: 2px solid #355033;
    border-radius: 0;
}

.eco-pods {
    margin: 40% 0;
}

div.col-md-6:nth-child(2) {
    margin-top: 6em;
    }

div.container:nth-child(3) {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.pods-text {
    padding-left: 5em !important;
}
/** ECO PODS BOOK BUTTONS **/

.btn-custom {
    background-color: #829c64 !important; /* Example button color */
    color: white;
    border: none ;
    padding: 10px 20px;
    border-radius: 0 !important; /* Remove border radius for a sharp edge look */
  }
  
  .btn-custom:hover {
    background-color: #6e8256 !important; /* Darken button on hover */
  }


  /** LOCATION **/

  .background-image {
    background-image: url('../img/index/location.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Adjust height as necessary */
    background-attachment: fixed;
}

.content-area {
    background-color: #405c71; /* Semi-transparent black background */
    color: white; /* White text color */
    padding: 3rem; /* Padding around the text */
}

.location-h2 {
    font-size: 4em;
    text-align: center;
    color: #f2f4ea;
}

.location-text {
    padding-left: 5em !important;
    padding-right: 5em !important;
}


/** B&B **/
.bedbreakfast {
    margin-top: 7em !important; 
    margin-bottom: 7em !important; 
}

.image-caption {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000; /* Adjust color based on your image's needs */
  }

  .image-overlay {
    position: relative;
    text-align: center;
  }

  .image-overlay img {
    display: block;
  }

  .image-overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust the text color as needed */
  }

  /* Optionally ensure the images take up equal height */
  .equal-height-img {
    display: flex;
    flex-wrap: wrap;
  }

  .equal-height-img .col {
    display: flex;
    flex-direction: column;
  }

  .equal-height-img .col img {
    flex-grow: 1;
  }

.text-bb {
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
}

.bb-text {
    padding-right: 2em;
}

.bb-book {
    padding-top: 2em !important;
}

.bed_breakfast {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/** Ammenities  **/

#accordionPanelsStayOpenExample {
  display: grid;
  margin-right: auto;
  margin-left: auto;
}

ul {
    list-style-type: none;
}
i {
    margin-right: 1em;
}

/** Ownerrez **/
.availability {
  margin: 2em 0;
}

/** FOOTER **/

.footer > div:nth-child(1) > div:nth-child(1) {
  background-color: #829c64 !important;
  }

  .footer  {
    color: #f2f4ea; /* Adjust heading color as needed */
  }
  

  .text-left {
    padding-left: 20%;
    }

  .text-left p {
    padding-top: 2em;
  }

  .footer-map {
    padding: 0;
    }
  
    .footer {
    padding: 0;
    padding: 0 !important;
    }




  .footer-contact h2 {
    color: #f2f4ea; /* Adjust heading color as needed */
    padding-bottom: .5em;
  }

  .social-icons {
    font-size: 24px; /* Adjust icon size as needed */
  }



/** MOBILE STYLING **/

